@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

@layer utilities {
  .fixBg {
    z-index: -999;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(16, 16, 16, 1);
    background-image: url('/background.png');
    background-size: cover;
  }

  .heroSection {
    width: 96vw;
    margin: auto;
    height: 100vh;
    z-index: 1;

    position: relative;
  }

  .introContent {
    position: absolute;
    z-index: 99;
    padding-top: 45vh;
    padding-left: 15%;
    width: 80vw;
    text-align: justify;
    height: 55vh;
  }

  .introContent h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    color: #e7e7e7;
    font-weight: 600;
    word-break: break-word;
  }

  .introContent h2 {
    font-size: clamp(1rem, 3vw, 2rem);
    color: #e7e7e7;
    font-weight: 600;
  }

  .testimonial {
    z-index: 9;
    margin-top: -55vh;
    position: relative;
  }

  .testimonialbg {
    position: relative;
    width: 100vw;
    height: 90vh;
    background: #c76801;
    --c: 99.5;
    mask: radial-gradient(
      calc(var(--c) * 1%) 100% at 50% calc(-100% * cos(asin(50 / var(--c)))),
      #0000 calc(100% - 1px),
      #000
    );
    -webkit-mask: radial-gradient(
      calc(var(--c) * 1%) 100% at 50% calc(-100% * cos(asin(50 / var(--c)))),
      #0000 calc(100% - 1px),
      #000
    );
    clip-path: ellipse(calc(var(--c) * 2%) 100% at 50% 0);
  }

  .testimonialComment {
    background-image: url(/leaf.png);
  }

  .spinch {
    position: absolute;
    top: 500px;
  }

  .testimonialInner {
    position: relative;
    z-index: 9;
    padding-top: 150px;
    width: 100vw;
  }

  .testimonialBigIntro {
    font-family: 'Bebas Neue', serif;
    font-size: clamp(5rem, 6vw, 10rem);
    color: #c1c1c1;
  }

  .tr {
    color: transparent;
    -webkit-text-stroke: 1px #c1c1c1;
  }

  .testimonialBigIntro span {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar {
    margin-top: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    z-index: 9;
    position: fixed;
  }

  .nav-items {
    margin-top: -32px;
  }

  .nav-item {
    color: #8a8a8a;
    font-size: 13px;
    font-weight: 600;
  }

  .orderOnline {
    min-height: 100vh;
  }
  .catagoryRow {
    padding: 5px;    
    margin-top: 100px;
    position: fixed;
    width: 100vw;
    background-color: #3d3900;
    z-index: 999;
  }
  .catagoryItem {
    padding: 5px 23px;
    background-color: rgba(0, 0, 0, 0.8);   
    border-radius: 50px;
  }
  .catagoryName {
    text-align: center;
    color: #c8c8c8b8;
  }

  .dishList {
    max-width: 1024px; 
    margin: auto;
    padding-top:200px;
 
  }

  .foodItem {
    min-width: 320px;
    background-color: rgb(82, 82, 82, 0.6);
    overflow: hidden;
    border-radius: 12px;
    color: #a8a8a8;
  }

  .popup_foodItem {
    min-width: 320px;
    background-color: rgba(24, 24, 24, 1);
    overflow: hidden;
    border-radius: 12px;
    color: #d6d6d6;
  }

  .popupBg {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(28, 28, 28);
    top: 0;
    left: 0;
  }

  .popup {
    width: 620px;   
    padding: 10px;
    position: absolute;
    top: 25vh;
    left: calc(100vw/2 - 620px/2);   
  }

  .topinslist div {
    padding: 1px 6px;
    border: 1px solid #000;
    border-radius: 6px;
    margin: 0px 3px;
    font-size: 12px;
  }
  .cookingRequest {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    background-color: rgb(0, 0, 0, 0.5);
    border: none;
    outline: none;
    font-size: 13px;
  }
  .cookingRequest:focus {
    border: none;
  }

  .addtocart {
    padding: 5px 25px;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 6px;
    height: 35px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .crossIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #c76801;
    right: 10px;
    border-top-right-radius: 12px;
    text-align: center;
  }
  .ourstory {
    min-height: 80vh;
    width: 90vw;
    margin: 50px auto;
    border: 4px solid #000;
    border-radius: 6px;
    padding: 50px;
  }

  .bottomBar {
    height: 50px;
    width: 100vw;
    background-color: red;
    position: fixed;
    bottom: 0;
  }

 
}
